@import url(button.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300;400&family=Whisper&display=swap');

*{
    box-sizing: border-box;
}
.fa-solid{
    font-size: 40px;
    color: #82A284;
    transition: all 0.6s;

}

.col-2{
    float: left;
    width: 50%;

}
.col-3{
    float: left;
    width: 33.3%;
}
.col-4{
    float: left;
    width: 25%;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
}
header{
    background-color: #446A46;
    position: fixed;
    width: 100%;
    z-index: +1;
    top: 0;
    display: block;
}
main{
    margin-top: 90px;
}
body{
    margin: 0;

}

html {
    scroll-behavior: smooth;
  }
.basliq{
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    margin-left: 30px;

}
.row{
    margin-top: 40px;

}
.row::after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.navbar{
    display: inline-block;
    text-align: right;
    width: calc(100% - 118px);
}
.navbar__items{
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.navbar__items-item{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
}
.navbar__items-item a{
    color: #fff;
}

#giris{
    background:linear-gradient(rgba(159, 192, 136,0.3),rgba(175, 202, 155,0.3)) , url("./images/giris.jpeg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.giris__info{
    position: absolute;
    background-color: rgba(51, 133, 255,0.3);
    border-radius: 10px;
    top: 60%;
    left: 50%;
    width: 60%;
    padding: 20px;
    font-size: 25px;
    color: #fff;
    transform: translate(-50%,-50%);
}

#info{
    text-align: center;
}
.bolum-basliq{
    font-size: 40px;
    text-align: center;
}

#info p{
    margin: 0;
}

#info .col-3{
    text-align: center;
    padding: 0 10px;
    margin: 50px 0;
}


.features__left{
    background:linear-gradient(rgba(159, 192, 136,0.3),rgba(175, 202, 155,0.3)) , url("images/features.jpeg");
    background-size: cover;
    background-position: center;
    height: 350px;
    padding: 30px;
}
.features__right{

    background:rgba(159, 192, 136,0.1) ;
    height: 350px;
    padding: 30px;
}
.features__right h3{
    font-size: 30px;
}
.plan{
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    transition: all 0.6s;
}
.plan:hover{
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}
.plan h2{
    font-size: 40px;
}
.plan ul{
    margin: 0;
    padding: 0;
}
.plan li{
    list-style-type: none;
    margin: 5px 0;
    padding: 1px;
}
.low{
    background-color: #f2f2f2;

}
.high{
    background-color: #73a576;
    color: #fff;
}
.plan_high{
    margin: 0;
    background-color: #fff;
    color:#73a576 ;
    border-radius: 5px;
}
.high h2{
    margin-top: 0;
}
.pad{
    padding: 0 5px;
}
#user{
    text-align: center;
    background: linear-gradient(rgba(80, 124, 82,0.5),rgba(115, 165, 118,0.5));
}
#user .col-3{
    padding: 40px;
}
#user h1, #user p{
    margin: 0;
    color: #fff;
}
.card-head{
    max-height: 330px;
    width: 100%;
}
.card-body h2{
    font-size: 40px;
}
.card{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.6s;
}
.card:hover{
    box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.75) 0px 50px 100px -20px, rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
    transform: translateY(-10px);
}
.card-body{
    padding: 30px;
}

#movies .col-3{
    padding: 16px;
}
footer{
    padding: 30px;
    background: #E4AEC5;
    margin-top: 30px;
    position: relative;
    bottom: -200px;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer li{
    display: inline-block;
    list-style-type: none;
    margin-left: 5px;
}
#footer-links{
    font-size: 18px;

}
.iletisim{
    color: #fff;
}
#sosial-links{
    text-align: right;
}
.fa-brands{
    font-size: 25px;
    padding: 15px;
    color: #fff;
    border-radius: 30px;
}
.fa-facebook{
    background-color: #1877F2;
}
.fa-instagram{
    background-color: #E4405F;
}
.fa-twitter{
    background-color: #1DA1F2;
}
.fa-circle-chevron-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: +1;
    
}
.fa-circle-chevron-up:hover{
    color: #577559;
}