<div class="card" *ngIf="selectedMovie">
    <div class="card-body">
        <span class="badge bg-warning">Id:{{selectedMovie.id}} Name:{{selectedMovie.name}}</span>
        <div class="input-group">
            <input type="text"class="form-control" [(ngModel)]="selectedMovie.name">
            <button type="button" class="btn btn-outline-secondary">Update</button>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <h4>{{title}}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngFor="let movie of movies" (click)="onSelect(movie)" class="list-group-item close"
            [class.active] = "movie === selectedMovie">
                <div><span class="badge bg-primary">{{movie.id}}</span> {{movie.name}}</div>
                <i class="fa-solid fa-xmark"></i>
            </li>
        </ul>
    </div>
</div>