<div class="bg-danger text-white p-2 m-2">
    There are {{model.getProducts().length}} products in ProductRepository
</div>

<div [class]="getClasses(1)">
    <span [ngStyle]="getStyleMap(4)">{{model.getProductById(1).id}} )</span> {{model.getProductById(1).name}}
</div>

<div [class]="getClasses(2)">
    <span [style.color]="color">{{model.getProductById(2).id}} )</span> {{model.getProductById(2).name}}
</div>



<button class="btn btn-primary" [class.disabled] = "disabled==true">sasa</button>
