@model ResetPasswordModel
<h5>Reset Password</h5>
<hr>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <form asp-controller="account" asp-action="resetpassword" method="POST">
                <input type="hidden" asp-for="Token">
                <input type="hidden" asp-for="UserId">
                <div class="mb-3 row">
                    <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Password">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="RePassword" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="RePassword">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">Göndər</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>