#main-footer{
    background-color: $dark-color;
    height: 5rem;
    color: #fff;
    .footer-content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social .fa-brands{
            padding: 0.6rem;
            margin-right: 10px;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            transition: all 0.6s;
            &:hover{
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}