<div class="container">
    <div class="row">
        <div class="col-6">
            <form #forma = 'ngForm' (ngSubmit)="submitForm(forma)">
                <div class="bg-danger text-white p-3 mb-2" *ngIf="formSumbited && forma.invalid">
                    Bir xeta yarandi. Formu yoxla
                </div>
                <div class="bg-info text-white p-3">
                    {{jsonProduct}}
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)] ="newProduct.name"  #name = "ngModel"  minlength="3" maxlength="10" pattern="^[A-Za-z ]+$"  required>
                    <div class="alert alert-danger mt-2" *ngIf="(formSumbited || name.dirty) && name.invalid">
                        <p *ngIf="name?.errors?.['required']">Name is required</p>
                        <p *ngIf="name?.errors?.['minlength']">Min. 3 charracters</p>
                        <p *ngIf="name?.errors?.['pattern']">Only letters and spaces</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" name="description" [(ngModel)] ="newProduct.description"  #description = "ngModel" required></textarea>
                    <div class="alert alert-danger mt-2" *ngIf="description.invalid && description.touched">
                        Description is required
                    </div>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" class="form-control" name="image" [(ngModel)] ="newProduct.imageUrl"  #image = "ngModel" required>
                    <div class="alert alert-danger mt-2" *ngIf="image.invalid && image.touched">
                        Image is required
                    </div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" [(ngModel)] ="newProduct.price"  #price = "ngModel" required>
                    <div class="alert alert-danger mt-2" *ngIf="price.invalid && price.touched">
                        Price is required
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formSumbited && forma.invalid" [class.btn-secondary] = "formSumbited && forma.invalid">Save</button>
            </form>
        </div>
    </div>
</div>
