<ul class="list-group">
    <li class="list-group-item" *ngFor="let p of products">
        {{p.name}}
        <a [routerLink]="['/products',p.id]">details</a>
    </li>
</ul>
<p class="mt-4">
    <a routerLink="/products" [queryParams]="{page: 1, order: 'bestselling'}" class="btn btn-primary">Ən Çox</a>
    <a routerLink="/products" [queryParams]="{page: 1, order: 'new'}" class="btn btn-primary ms-2">Yeni</a>

    <button (click)="loadProducts()" class="btn btn-primary ms-2">Yenile</button>
</p>
