($event.target as HTMLInputElement).value
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info">Selected Product: {{selectedProduct || '(None)'}}</div>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th style="width:140px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" (mouseover)="selectedProduct= product.name"
                        (mouseleave)="selectedProduct='(None)'"
                        [class.bg-info]="getSelected(product)">
                        <td>{{product.id}}</td>
                        <td><img src="../../assets/img/{{product.imageUrl}}" width="80px"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Update</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label >Product Name</label>
                <input (input)=" selectedProduct = axot($event)" type="text" class="form-control">
            </div>
        </div>
    </div>
</div>