<div class="container my-4">
    <header class="py-5">
        <div class="container">
            <h1 class="display-4">AxotApp</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae neque iusto, voluptas laboriosam aperiam repellendus.</p>
        </div>
    </header>
</div>