<nav>
    <div class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a href="/" class="navbar-brand">AxotApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="user" asp-action="list" class="nav-link">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="productlist" class="nav-link">Admin Products</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="categorylist" class="nav-link">Admin Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>