<nav>
    <div class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a href="/" class="navbar-brand">AxotApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/products" class="nav-link">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="admin" asp-action="createproduct">Add Product</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="productslist" class="nav-link">Admin Products</a>
                </li>
            </ul>
            <form action="/product/list" class="d-flex" >
                <input name="q" class="form-control me-2" placeholder="Search">
                <button class="btn btn-outline-light me-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>