
<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group mb-3">
                <input name="q" class="form-control" placeholder="Search">
            </div>
            <div class="d-grid">
                <button class="btn btn-danger btn-sm btn-block" type="submit">Axtar</button>
            </div>
        </form>
    </div>
</div>

