        .btn_start,
        .quiz_box,
        .score_box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .quiz_box{
            width:550px;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%,-50%)scale(0.7);
            transition: all 0.8s ease;
        }
        .quiz_box.active{
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%,-50%)scale(1);
        }
        .quiz_box header .title{
            font-size: 20px;
            font-weight: 600;
        }
        .quiz_box .option_list{
            padding: 18px 0;
        }
        .quiz_box .option_list .option{
            display: flex;
            align-items: center;
            justify-content: space-between;

            border: 2px solid #5B4B8A;
            border-radius: 5px;
            padding: 8px 15px;
            margin-bottom:10px;
            cursor: pointer;
            font-weight: 600;
        }
        .quiz_box .option_list .option:hover{
            background-color: #fac213;
            color: #4C3575;
        }
        .quiz_box .option_list .option.correct{
            background-color: #ccffdd;
            color: #00802b;
        }
        .quiz_box .option_list .option.incorrect{
            background-color: #ffcccc;
            color: #800000;
        }
        .question_text{
            font-weight: 600;
        }
        .quiz_box .option_list .option.disabled{
            pointer-events: none;
        }
        .btn_next.show{
            opacity: 1;
            pointer-events: auto;
            transform: scale(1);
        }
        .btn_next{
            opacity: 0;
            pointer-events: none;
            transform: scale(0.8);
            transition: all 0.5s;
        }
        .quiz_box footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        /*SCoRE BOX*/
        .score_box{
            width:550px;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%,-50%)scale(0.7);
            transition: all 0.8s ease;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
        }
        .score_box.active{
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%,-50%)scale(1);
        }
        .score_box .icon{
            color: #0d6efd;
            font-size: 190px;
            margin-bottom: 10px;
        }
        .score_box .score_text{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .score_box .buttons{
            margin-bottom: 10px;
        }
        .quiz_box header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        .quiz_box header .timer{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4C3575;
            color: #fff;
            padding: 7px 10px;
            border-radius: 5px; 
            font-size: 15px;   
        }
        .quiz_box header .timer .timer_text{
            font-size: 14px;
        }
        .quiz_box header .timer .timer_second{
            background-color: #ffc107;
            padding: 3px;
            margin-left: 5px;
            border-radius: 5px;
            width: 30px;
            text-align: center;
        }
        .quiz_box header .timer_line{
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            background-color: #ffc107;
        }